{% extends 'expenses/base.html' %} 
{% load static %} 
{% block content %}
<div class="login-page">
    <div class="container d-flex align-items-center position-relative py-5">
      <div class="card shadow-sm w-100 rounded overflow-hidden bg-none">
        <div class="card-body p-0">
          <div class="row gx-0 align-items-stretch">
            <!-- Logo & Information Panel-->
            <div class="col-lg-6">
              <div class="info d-flex justify-content-center flex-column p-4 h-100">
                <div class="py-5">
                <h1 class="display-6 fw-bold">SwiftSnap   </h1>
                <p class="fw-light mb-0">A Personal Expense Management App with Receipt Scanner Utilizing Optical Character Recognition and Image Recognition Capabilities.</p>
                </div>
              </div>
            </div>
            <!-- Form Panel    -->
            <div class="col-lg-6 bg-white">
              <div class="d-flex align-items-center px-4 px-lg-5 h-100">
                <form class="login-form py-5 w-100" method="post" action="">
				          {% csrf_token %}
                  <div class="input-material-group mb-3">
                    <input class="input-material" id="login-username" type="text" name="username" autocomplete="off" required >
                    <label class="label-material" for="login-username">Username</label>
                  </div>
                  <div class="input-material-group mb-4">
                    <input class="input-material" id="login-password" type="password" name="password" required data-validate-field="loginPassword">
                    <label class="label-material" for="login-password">Password</label>
                  </div>
                    {% for i in messages %}
                        <script>
                          alert('{{i}}')
                        </script>
				            {% endfor %}
                  <button class="btn btn-primary mb-3" id="login" type="submit">Login</button><br>
                  <br><small class="text-gray-500">Do not have an account? </small><a class="text-sm text-paleBlue" href="{% url 'register' %}">Signup</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
