<nav class="side-navbar z-index-40">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center py-4 px-3">
        <!-- <img class="avatar shadow-0 img-fluid rounded-circle" src="img/avatar-1.jpg" alt="..."> -->
      <div class="ms-3 title">
        <h1 class="h4 mb-2">{{request.user}}</h1>
        <!-- <p class="text-sm text-gray-500 fw-light mb-0 lh-1">Web Designer</p> -->
      </div>
    </div>
    <!-- Sidebar Navidation Menus--><span class="text-uppercase text-gray-400 text-xs letter-spacing-0 mx-3 px-2 heading">Main</span>
    <ul class="list-unstyled py-4">
      {% if '/calculator/' in request.path %}
      <li class="sidebar-item"><a class="sidebar-link" href="{% url  'home' %}"> 
          <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
            <use xlink:href="#real-estate-1"> </use>
          </svg>Home </a></li>
      <li class="sidebar-item"><a class="sidebar-link" href="{% url 'upload_reciept' %}"> 
         <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
            <use xlink:href="#survey-1"> </use>
         </svg>Upload Receipt </a></li>
      <li class="sidebar-item active"><a class="sidebar-link" href="{% url 'calculator' %}"> 
          <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
            <use xlink:href="#portfolio-grid-1"> </use>
          </svg>Calculator </a></li>
      <li class="sidebar-item"><a class="sidebar-link" href="{% url 'expenses' %}"> 
          <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
            <use xlink:href="#browser-window-1"> </use>
          </svg>Manage Upload </a></li>
      <!-- <li class="sidebar-item"><a class="sidebar-link" href="{% url 'home' %}"> 
          <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
            <use xlink:href="#sales-up-1"> </use>
          </svg>Charts </a></li> -->
      {% elif  '/upload/' in request.path %}
      <li class="sidebar-item"><a class="sidebar-link" href="{% url  'home' %}"> 
        <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
          <use xlink:href="#real-estate-1"> </use>
        </svg>Home </a></li>
      <li class="sidebar-item active"><a class="sidebar-link" href="{% url 'upload_reciept' %}"> 
        <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
            <use xlink:href="#survey-1"> </use>
        </svg>Upload Receipt </a></li>
      <li class="sidebar-item"><a class="sidebar-link" href="{% url 'calculator' %}"> 
          <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
            <use xlink:href="#portfolio-grid-1"> </use>
          </svg>Calculator </a></li>
      <li class="sidebar-item"><a class="sidebar-link" href="{% url 'expenses' %}"> 
        <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
          <use xlink:href="#browser-window-1"> </use>
        </svg>Manage Upload </a></li>
      <!-- <li class="sidebar-item"><a class="sidebar-link" href="{% url 'home' %}"> 
          <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
            <use xlink:href="#sales-up-1"> </use>
          </svg>Charts </a></li> -->
      {% elif  '/expenses/' in request.path %}
      <li class="sidebar-item"><a class="sidebar-link" href="{% url  'home' %}"> 
        <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
          <use xlink:href="#real-estate-1"> </use>
        </svg>Home </a></li>
      <li class="sidebar-item"><a class="sidebar-link" href="{% url 'upload_reciept' %}"> 
        <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
            <use xlink:href="#survey-1"> </use>
        </svg>Upload Receipt </a></li>
      <li class="sidebar-item"><a class="sidebar-link" href="{% url 'calculator' %}"> 
          <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
            <use xlink:href="#portfolio-grid-1"> </use>
          </svg>Calculator </a></li>
      <li class="sidebar-item active"><a class="sidebar-link" href="{% url 'expenses' %}"> 
      <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
          <use xlink:href="#browser-window-1"> </use>
      </svg>Manage Upload </a></li>
      <!-- <li class="sidebar-item"><a class="sidebar-link" href="{% url 'home' %}"> 
          <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
            <use xlink:href="#sales-up-1"> </use>
          </svg>Charts </a></li> -->
      {% else %}
      <li class="sidebar-item active"><a class="sidebar-link" href="{% url  'home' %}"> 
        <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
          <use xlink:href="#real-estate-1"> </use>
        </svg>Home </a></li>
      <li class="sidebar-item"><a class="sidebar-link" href="{% url 'upload_reciept' %}"> 
        <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
            <use xlink:href="#survey-1"> </use>
        </svg>Upload Receipt </a></li>
      <li class="sidebar-item"><a class="sidebar-link" href="{% url 'calculator' %}"> 
          <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
            <use xlink:href="#portfolio-grid-1"> </use>
          </svg>Calculator </a></li>
      <li class="sidebar-item"><a class="sidebar-link" href="{% url 'expenses' %}"> 
      <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
        <use xlink:href="#browser-window-1"> </use>
      </svg>Manage Upload </a></li>
      <!-- <li class="sidebar-item"><a class="sidebar-link" href="{% url 'home' %}"> 
        <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
          <use xlink:href="#sales-up-1"> </use>
        </svg>Charts </a></li> -->
      {% endif %}

  </nav>